
  
   
   p {
    padding-top: 20px;
     font-size: 18px;
     line-height: 1.6;
     color: #190d0d;
   }
   
   /* Emojis styling */
   span.emoji {
     font-size: 24px;
     margin-right: 5px;
   }
   
   /* Button styling */
   .btn {
     display: inline-block;
     padding: 10px 20px;
     background-color: #007bff;
     color: #fff;
     text-decoration: none;
     border-radius: 5px;
     transition: background-color 0.3s;
   }
   
   .btn:hover {
     background-color: #0056b3;
   }
   